body{
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 400px;
    column-gap: 30px;
}
button{
    height: 100px;
    width: 150px;
    cursor: pointer;
    border-radius: 10%;
    color: white;
    background-color: dodgerblue;
    box-shadow: 5px 5px 5px black;
}
button:hover{
    transform: scale(1.1);
}